@use "src/common/styles/mixins" as m;
@use "src/common/styles/placeholders";
@use "src/common/styles/variables" as s;

.menu {
  @include m.displayFlexCol();
  padding: 15px 0;
  right: 68px;
  position: fixed;
  top: 35%;
  @extend %tplborder;
  border-radius: 30px;

  li {
    cursor: pointer;
    padding: 10px;

    a {
      &:hover {
        span {
          opacity: 1;
          visibility: visible;
        }

        svg {
          color: s.$BtnColor;
        }
      }
    }
  }

  span {
    background: #404042;
    border-radius: 5px;
    color: #fff;
    font-size: 12px;
    opacity: 1;
    padding: 3px 8px;
    position: absolute;
    right: 100%;
    transition: .1s;
    visibility: hidden;
  }
}

@media screen and (max-width: 1200px) {
  .menu {
    display: none;
  }
}
