@use "../../styles/displayFlexCol" as a;

.menu {
  @include a.displayFlexCol(flex, column, 10px);
  padding: 20px 0;
  right: 68px;
  position: fixed;
  top: 35%;
  //background-color: cadetblue;
  //@extend %tplborder;
  border-radius: 30px;
  li {
    padding: 5px;
    //background-color: wheat;
  }
}
