@use "../../styles/mixins" as m;
@use '../../styles/placeholders';

.menu {
  @include m.displayFlexCol(flex, column, 10px);
  padding: 20px 0;
  right: 68px;
  position: fixed;
  top: 35%;
  //background-color: cadetblue;
  @extend %tplborder;
  border-radius: 30px;
  li {
    padding: 5px;
    //background-color: wheat;
  }
}
