@use "src/common/styles/variables" as s;

.form {
  display: flex;
  flex-wrap: wrap;
  margin: 20px;

  .inputGroup {
    flex: 0 0 50%; // makes each input group take up half the width of the form (2 groups in a row)
    padding: 0 15px;
    margin-bottom: 20px;

    label {
      display: block;
      margin-bottom: 10px;

      span {
        font-weight: normal;
      }
    }

    /* Remove highlight and set text color in Chrome and Safari */
    input:-webkit-autofill,
    input:-webkit-autofill:hover,
    input:-webkit-autofill:focus {
      -webkit-text-fill-color: #777;
      transition: background-color 5000s ease-in-out 0s;
    }

    input,
    textarea {
      background: none;
      border: none;
      border-bottom: 2px solid #aaa;
      color: #777;
      font-size: 18px;
      padding: 0 0 3px;
      width: 80%;
      transition: border-color .5s; // animation for border color

      &:focus {
        border-color: #28e98c;
        outline: none;
      }

      &::placeholder {
        color: #aaa;
      }
    }

    textarea {
      min-height: 120px;
      resize: none;
    }
  }
}

.successMessage {
  background: #404042;
  color: s.$textColor;
  opacity: 1;
  right: 100%;
  transition: 0.1s;
  padding: 10px 20px;
  border-radius: 5px;
  margin-left: 38px;
}
