@mixin displayFlexCenter($fl, $jc, $ai) {
  display: $fl;
  justify-content: $jc;
  align-items: $ai;
}

@mixin displayFlexCol($fl, $fd, $g) {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
