@use "src/common/styles/mixins" as m;
@use "src/common/styles/variables" as s;
@use "src/common/styles/placeholders";


.portfolio {
  @include m.flex(center, center);
  flex-direction: column;

  .title {
    @extend %titleStyle;
  }

  figure {
    margin-bottom: 40px;
    a {
      img {
        max-width: 700px;
        border-radius: 30px;
      }
    }

    figcaption {
      font-size: 20px;
    }
  }
}
