$hg: 50%;
//стили border
%tplborder {
  border: 1px solid;
}

%flColumn {
  flex-direction: column;
}

@mixin displayFlexCol($fl, $fd, $g) {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

@mixin displayFlexCenter($fl, $jc, $ai) {
  display: $fl;
  justify-content: $jc;
  align-items: $ai;
}

.app {
  display: flex;
  justify-content: space-between;
}

.leftSidebarContainer {
  background-color: burlywood;
  @include displayFlexCenter(flex, center, center);
  flex: 0.2;

  .leftSidebar {
    background-color: darkgray;
    padding: 50px;
    @include displayFlexCenter(flex, center, center);
    flex-direction: column;
    gap: 20px;
    top: 5%;
    position: fixed;
    img {
      height: 400px;
      width: 350px;
    }

    ul {
      display: flex;
      flex-wrap: wrap;

      li {
        padding: 5px;
      }
    }
  }

  @extend %tplborder
}

.heroContent {
  background-color: bisque;
  flex: 0.8;

  @extend %tplborder;

  .hero {
    @include displayFlexCenter(flex, center, center);
    @extend %tplborder;
    @extend %flColumn;

  }

  .name {

  }

  .portfolioAnimation {
    @include displayFlexCenter(flex, center, center);
    background-color: wheat;
    height: 200px;
    width: 100%;
  }

  .aboutContainer {
    background-color: gray;
    height: $hg;
    @include displayFlexCenter(flex, center, center);
    @extend %tplborder;
    @extend %flColumn;


    .title {
      @include displayFlexCenter(flex, center, center);
      background-color: honeydew;
    }

    .text {
      @include displayFlexCenter(flex, center, center);
      background-color: rosybrown;
    }
  }

  .resumeContainer {
    background-color: hotpink;
    height: $hg;
    @include displayFlexCenter(flex, center, center);
    @extend %tplborder;
    @extend %flColumn;

    .title {

    }

    .educationWork {
      background-color: tan;
      @include displayFlexCenter(flex, center, center);

    }
  }

  .skillsContainer {
    background-color: darkcyan;
    height: $hg;
    @include displayFlexCenter(flex, center, center);
    @extend %tplborder;
    @extend %flColumn;

    .title {
      padding-bottom: 20px;
    }

    .skills {
      background-color: darkcyan;
      @include displayFlexCenter(flex, center, center);
      //height: $hg;
      gap: 30px;
      flex-wrap: wrap;

      .item {
        background-color: darkgray;
        @include displayFlexCenter(flex, center, center);
        flex-direction: column;
        padding: 20px;

        img {
          background-color: salmon;
          height: 50px;
          width: 50px;
        }
      }
    }
  }

  .portfolioContainer {
    background-color: aquamarine;
    //height: $hg;
    @include displayFlexCenter(flex, center, center);
    @extend %tplborder;
    flex-direction: column;

    img {
      border-radius: 30px;
    }
  }

  .contactContainer {
    background-color: darkgray;
    height: $hg;
    @include displayFlexCenter(flex, center, center);
    @extend %tplborder;

    .form {
      display: flex;
      flex-direction: column;
      .inputGroupBox {

        .inputGroup {
          @include displayFlexCol(flex, column, 10px);
          margin-bottom: 20px;
        }
      }

    }
  }
}


.menuContainer {
  background-color: cadetblue;
  @include displayFlexCenter(flex, center, center);
  right: 68px;
  position: fixed;
  top: 35%;
  height: 35%;
  @extend %tplborder
}
