//height
$minHg: 40%;
//max-width
$maxW: 770px;
//style border
%tplborder {
  border: 1px solid;
}

%flColumn {
  flex-direction: column;
}

@mixin displayFlexCol($fl, $fd, $g) {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

@mixin displayFlexCenter($fl, $jc, $ai) {
  display: $fl;
  justify-content: $jc;
  align-items: $ai;
}

%titleStyle {
  font-size: 36px;
  margin: 0 0 30px 0;
  text-align: center;
}

%buttonStyle {
  border: 2px solid black;
  border-radius: 30px;
  padding: 20px;
}

.app {
  display: flex;
  justify-content: flex-end;
  margin-right: 100px;


  .leftSidebarContainer {
    flex: 0.3;
    position: fixed;
    left: 0;

    .leftSidebar {
      background-color: rosybrown;
      padding: 50px;
      @include displayFlexCenter(flex, center, center);
      flex-direction: column;
      gap: 20px;
      top: 120px;
      position: fixed;
      //width: 20%;
      min-width: 300px;
      border: 1px solid #565656;
      border-radius: 30px;

      img {
        min-width: 284px;
      }

      ul {
        display: flex;
        flex-wrap: wrap;

        li {
          padding: 5px;
          margin: 5px;
          background-color: aqua;
        }
      }

      button {
        @extend %buttonStyle;
        width: 300px;

      }
    }

    @media (max-width: 1400px) {
      .leftSidebar {
        padding: 20px;
      }
    }

    @extend %tplborder
  }


  .heroContainer {
    background-color: bisque;
    flex: 0.7;
    @extend %tplborder;

    .heroContent {
      @include displayFlexCenter(flex, center, center);
      @extend %tplborder;
      @extend %flColumn;
      min-height: $minHg;

      .wrapContent {
        max-width: $maxW;

        .title {
          @extend %titleStyle;
          background-color: honeydew;
        }

        .portfolioAnimation {
          @include displayFlexCenter(flex, center, center);
          background-color: wheat;

        }
      }
    }


    .aboutContent {
      background-color: gray;
      min-height: $minHg;
      @include displayFlexCenter(flex, center, center);
      @extend %tplborder;
      @extend %flColumn;

      .wrapContent {
        max-width: $maxW;

        .title {
          //@include displayFlexCenter(flex, center, center);
          @extend %titleStyle;
          background-color: honeydew;
        }

        .text {
          @include displayFlexCenter(flex, center, center);
          background-color: rosybrown;
        }
      }


    }

    .resumeContent {
      background-color: hotpink;
      min-height: $minHg;
      @include displayFlexCenter(flex, center, center);
      @extend %tplborder;
      @extend %flColumn;

      .wrapContent {
        max-width: $maxW;

        .title {
          //@include displayFlexCenter(flex, center, center);
          @extend %titleStyle;
          background-color: honeydew;
        }

        .educationWork {
          background-color: tan;
          @include displayFlexCenter(flex, center, center);

        }
      }


    }

    .skillsContent {
      background-color: darkcyan;
      min-height: $minHg;
      @include displayFlexCenter(flex, center, center);
      @extend %tplborder;
      @extend %flColumn;

      .wrapContent {
        max-width: $maxW;

        .title {
          //@include displayFlexCenter(flex, center, center);
          @extend %titleStyle;
          background-color: honeydew;
        }

        .skills {
          background-color: darkcyan;
          @include displayFlexCenter(flex, center, center);
          //min-height: $minHg;
          gap: 30px;
          flex-wrap: wrap;

          .item {
            background-color: darkgray;
            @include displayFlexCenter(flex, center, center);
            flex-direction: column;
            padding: 20px;

            img {
              background-color: salmon;
              height: 50px;
              width: 50px;
            }
          }
        }
      }


    }

    .portfolioContent {
      background-color: aquamarine;
      //height: $hg;
      @include displayFlexCenter(flex, center, center);
      @extend %tplborder;
      flex-direction: column;
      min-height: $minHg;

      .wrapContent {
        max-width: $maxW;

        .title {
          //@include displayFlexCenter(flex, center, center);
          @extend %titleStyle;
          background-color: honeydew;
        }

        figure {
          a {
            img {
              width: 100%;
              border-radius: 30px;
            }
          }

          figcaption {
            font-size: 20px;
          }
        }

      }


    }

    .contactContent {
      background-color: darkgray;
      min-height: $minHg;
      @include displayFlexCenter(flex, center, center);
      @extend %tplborder;

      .wrapContent {
        max-width: $maxW;

        .title {
          //@include displayFlexCenter(flex, center, center);
          @extend %titleStyle;
          background-color: honeydew;
        }

        .form {
          display: flex;
          flex-direction: column;

          .inputGroupBox {

            .inputGroup {
              @include displayFlexCol(flex, column, 10px);
              margin-bottom: 20px;

              button {
                @extend %buttonStyle;
              }
            }
          }

        }
      }

    }

  }

  .menuContainer {
    background-color: cadetblue;
    @include displayFlexCenter(flex, center, center);
    right: 68px;
    position: fixed;
    top: 35%;

    @extend %tplborder;

    .menu {
      @include displayFlexCol(flex, column, 10px);
      padding: 20px 0;

      li {
        padding: 5px;
        background-color: wheat;
      }
    }
  }
}

@media (max-width: 1200px) {
  .app {
    flex-direction: column;
    margin: 0;

    .leftSidebarContainer {
      position: static;

      .leftSidebar {
        position: static;
        max-width: 767px;
        margin: 0 auto;

        button {
          @extend %buttonStyle;
          width: 100%;
        }
      }
    }

    .menuContainer {
      display: none;
    }
  }
}

@media (max-width: 992px) {

}

@media (max-width: 767px) {

}
